body {
    background-color: bisque;
}

.colorchange {
    text-align: center;
    color: rgb(219, 208, 195);
    background-color: rgb(69, 110, 97);
    max-width: 250px;
    justify-self: center;
    margin-left: 1200px;
    font-size: 25px;
}

.flexbox {
    display: flex;
    flex-direction: row;
    min-width: auto;
    min-height: auto;
}

.streckenbox {
    display: flex;
    flex-direction: column;
}

.winkelbox {
    display: flex;
    flex-direction: column;
}

.flex_numbers {
    display: flex;
    flex-direction: column;
}

.flex_numbers > div {
    padding-left: 0px;
    padding-top: 10px;
    background-color: burlywood;
    max-width: 500px;
}